page-cadastro {
    .item-md,.item-ios {
        background-color: transparent;
        margin-top: 50%;
    }
}

.show {
    display: block;
}

.hidden {
    display: none;
}


.text-input-md {
    color: #fff;
}

// md-primary, .item-input .label-md-primary {
//   color: #fff;
// }