cadastro-page {
    .item-input {
        background-color: #415b00;
    }
}

.show {
    display: block;
}

.hidden {
    display: none;
}

.button-default {
    // max-width: 330px;
    border-radius: 5px;
    margin: 20px 0 auto;
}

.text-input-md {
    color: #fff;
}

// md-primary, .item-input .label-md-primary {
//   color: #fff;
// }