page-login {
  .logo {
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .container-logo {
    width: 100%;
    text-align: center;
  }

  .item-block {
    background-color: #415b00;
    color: #fff;
    text-align: center;
  }

  .item-input {
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 20px;
  }
}
