page-login {
  .logo {
    margin: 0 auto;
  }

  .container-logo {
    width: 100%;
    text-align: center;
  }

  .item-block {
    background-color: #415b00;
    color: #fff;
    text-align: center;
  }
}
