page-preferencias {

  .local {
    font-size: 1.5em;
    color: #fff;
    // position: absolute;
    // margin-top: 75px;
    // marginionic-left: -150px;
  }

  .selected {
    border: 2px solid white;
  }
}
